@model List<SistemaArtemis.Models.Tecnico>
@{
    ViewBag.Title = "ListarTecnicos";
    Layout = "~/Views/Shared/_ClienteLayout.cshtml";
}



<div class="container-fluid">

    <div class="card shadow mb-4">
        <div class="card-header py-3 bg-second-primary">
            <h6 class="m-0 font-weight-bold text-white">Mis Calificaciones</h6>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    @*<p href="~/Tecnico/TrabajosDisponibles" class="btn btn-warning">Aceptar Nuevo Trabajo</p>*@
                    <a href="~/Cliente/Index" class="btn btn-dark">Regresar</a>
                    <h2 class="pagegeader"></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered" id="tbdata" cellspacing="0" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Telefono</th>
                                @*<th>Especialidad</th>*@
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var m in Model)
                            {
                                <tr>
                                    <td>@(m.Id_Tecnico)</td>
                                    <td>@(m.Nombre)</td>
                                    <td>@(m.Apellido)</td>
                                    <td>@(m.Telefono)</td>
                                    @*<td>@ (m.Id_Especialidad)</td>*@

                                    @if (m.Id_Estado_Tecnico == 1)
                                    {
                                        <td> <span class="badge badge-info">Activo</span></td>
                                    }
                                    else
                                    {
                                        <td><span class="badge badge-danger">No Activo</span></td>
                                    }

                                    <td>

                                        <a href="~/Tecnico/Contactar/@m.Id_Tecnico" class="btn btn-success">Contactar</a>

                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>


            </div>

        </div>
    </div>
</div>





