@*
    Versión: 1.0
    Descripción: Index.cshtml Representada para gestionar calificación
    Para el caso de uso: 
        Gestionar Calificación
        Gestionar Progreso

    Fecha de creación: [07/08/2023]
    Creado por: [DJFN]

    Última modificación: [11/11/2023]
    Modificado por: [JFSV]
*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ClienteLayout.cshtml";
    var lista = ViewBag.service as List<SistemaArtemis.Models.Servicio>;
    var idcliente = Session["Id_Cliente"];

}

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3 bg-second-primary">
            <h6 class="m-0 font-weight-bold text-white">Calificar Trabajo </h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">

                    <a href="~/Calificacion/VerCalificacion/@idcliente" class="btn btn-warning"><i class="fas fa-eject"></i> Ver Calificaciones</a>
                    <a href="~/Cliente/Index/" class="btn btn-dark"><i class="fas fa-chevron-left"></i> Regresar</a>
                    <h2 class="pagegeader"></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered" id="tbdata" cellspacing="0" style="width:100%">

                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Tecnico Responsable</th>
                                <th>Descripción del Servicio</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ var i = 0;}
                            @foreach (var t in lista)
                            {
                                i++;
                                <tr>
                                    <td>@i</td>

                                    <td>@t.Tecnico.Nombre @t.Tecnico.Apellido</td>
                                    <td>@t.Descripcion</td>

                                    @if (t.Id_Estado_Servicio == 1)
                                    {
                                        <td> <span class="badge badge-success">Pendiente</span></td>
                                    }
                                    @if (t.Id_Estado_Servicio == 2)
                                    {
                                        <td> <span class="badge badge-warning">En Revisión</span></td>
                                    }
                                    @if (t.Id_Estado_Servicio == 3)
                                    {
                                        <td> <span class="badge badge-primary">En Proceso</span></td>
                                    }
                                    @if (t.Id_Estado_Servicio == 4)
                                    {
                                        <td> <span class="badge badge-danger">Finalizado</span></td>
                                    }
                                    <td>
                                        <a href="~/Calificacion/Calificar/@t.Id_Servicio" class="btn btn-success"><i class="fas fa-check"></i> Calificar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

