@model SistemaArtemis.Models.Calificacion
@{
    ViewBag.Title = "VerCalificacion";
    Layout = "~/Views/Shared/_ClienteLayout.cshtml";
    var listacalificacion = ViewBag.calificacion as List<SistemaArtemis.Models.Calificacion>;
    //var listacalificacion = ViewBag.calificacion;
}



<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3 bg-second-primary">
            <h6 class="m-0 font-weight-bold text-white">Detalle de las Calificaciones </h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">

                    <a href="~/Calificacion/VerCalificacion/" class="btn btn-warning"><i class="fas fa-eject"></i> Ver Calificaciones</a>
                    <a href="~/Cliente/Index/" class="btn btn-dark"><i class="fas fa-chevron-left"></i> Regresar</a>
                    <h2 class="pagegeader"></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered" id="tbdata" cellspacing="0" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Comentario</th>
                                <th>Calificación</th>
                                <th>Descripción del Servicio</th>
                                @*<th>Acciones</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @{ var i = 0;}
                            @foreach (var t in listacalificacion)
                            {
                                i++;
                                <tr>
                                    @*<td>@t.Calificacion1</td>*@
                                <td>@i</td>

                                <td>@t.Comentario</td>
                                <td>
                                    @if (t.Calificacion1 >= 1 && t.Calificacion1 <= 10)
                                    {
                                        for (int j = 0; j < t.Calificacion1; j++)
                                        {
                                            <span class="badge badge-success">★</span>

                                        }
                                    }
                                </td>
                                <td>@t.Servicio.Descripcion</td>
                                @*<td>
                                        <a href="~/Calificacion/Calificar/@t.Id_Servicio" class="btn btn-success"><i class="fas fa-check"></i> Calificar</a>
                                    </td>*@
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
