
@{
    ViewBag.Title = "_ClienteLayout";
    SistemaArtemis.Models.Usuario usuario = new SistemaArtemis.Models.Usuario();
    var usuarios = usuario.ObtenerDatos((string)Session["Correo"]);
    var idcliente = Session["Id_Cliente"];
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Sistema - S3rf</title>
    <link rel="shortcut icon" href="~/Content/images/ico/favicon.ico">

    <!-- Custom fonts for this template-->
    <link href="~/Source/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Source/css/sb-admin-2.css" rel="stylesheet">

    <!-- ====ESTILOS PARA ESTA PAGINA ====================-->
    <link rel="stylesheet" href="~/Source/vendor/datatables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Source/vendor/datatables/extensiones/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="~/Source/vendor/datatables/extensiones/css/buttons.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <li class="nav-item">
                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                    <div class="sidebar-brand-icon">
                        <i class="fas fa-desktop"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">Sistema SERF</div>
                </a>

                <!-- Divider -->
                <hr class="sidebar-divider my-0">
            </li>

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="~/Cliente/Index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>PANEL CLIENTE @idcliente</span>
                </a>
            </li>

            <!-- BArra Lateral MENU / Gestionar Servicio Collapse Menu -->
            <li class="nav-item">
                <hr class="sidebar-divider">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAdministracion">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Mis Servicio </span>
                </a>
                <div id="collapseAdministracion" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="~/Problema/ListarProblemaCliente/@idcliente">Listar Problema</a>
                        <a class="collapse-item" href="~/Problema/PublicarProblema">Publicar Servicio</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Gestionar Solicitud  Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseInventario">
                    <i class="fas fa-fw fa-clipboard-list"></i>
                    <span>Tecnicos</span>
                </a>
                <div id="collapseInventario" class="collapse" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="~/Cliente/ListarTecnicos">Trabajadores disponibles</a>

                    </div>
                </div>
            </li>

            @* <!-- Nav Item - Venta Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseVenta">
                        <i class="fas fa-fw fa-tags"></i>
                        <span>Recomendación</span>
                    </a>
                    <div id="collapseVenta" class="collapse" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" href="~/Tecnico/Index">Trabajadores Disponibles</a>
                            <a class="collapse-item" href="#">Trabajadores Aptos</a>
                        </div>
                    </div>
                </li>
                <!-- Nav Item - Reportes Collapse Menu -->
                <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReportes">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Reportes</span>
                </a>
                <div id="collapseReportes" class="collapse" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="~/Servicios/ReporteServicios">Reporte de Servicios</a>
                    </div>
                </div>
            </li>*@

            <!-- Divider -->
            <hr class="sidebar-divider">            
            <li class="nav-item d-flex justify-content-center">
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>
            </li>
        </ul>
        <!-- End of Sidebar / Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        @*<div class="topbar-divider d-none d-sm-block"></div>*@

                        <!-- Nav Item - Informacion de Usuario  -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-lg-inline text-gray-600 small">@usuarios.Nombre @usuarios.Apellido </span>
                                <img class="img-profile rounded-circle ml-2"
                                     src="~/Source/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="~/Cliente/Perfil/@usuarios.Id_Usuario">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Perfil
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="~/Login/LogOut" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Salir
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>

                <!-- PAGINA CENTRAL - PRINCIPAL -->

                <div class="container-fluid">
                    @RenderBody()
                </div>



                <!-- Logout Modal-->
                <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    Desea Cerrar Sesion?
                                </h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>

                            <div class="modal-body">Seleccione "Cerrar sesión" si está listo para finalizar su sesión actual".</div>

                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                <a class="btn btn-primary" href="~/Login/LogOut">Cerrar sesion</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Universidad Privada de Tacna 2023</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="~/Source/vendor/jquery/jquery.min.js"></script>
    <script src="~/Source/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Source/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Source/js/sb-admin-2.js"></script>

    <!-- =========    =SCRIPTS PARA ESTA PAGINA   ==========-->
    <script src="~/Source/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Source/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/Source/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>
    <script src="~/Source/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/Source/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/Source/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/Source/vendor/datatables/extensiones/js/buttons.print.min.js"></script>

    <!-- SOLO ES DE EJEMPLO - IGNORAR -->
    <script src="~/Source/js/vistas/datatables-demo.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.0/chart.min.js" integrity="sha512-mlz/Fs1VtBou2TrUkGzX4VoGvybkD9nkeXWJm3rle0DPHssYYx4j+8kIS15T78ttGfmOjH0lLaBXGcShaVkdkg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>

</html>
<script>
    $(document).ready(function () {
        $('#Telefono').on('input', function () {
            var telefono = $(this).val();
            if (telefono.length > 9) {
                $(this).val(telefono.slice(0, 9));
            }
        });
    });
</script>